.aboutContainer {
  display: inline-block;
  width: 100vw;
  height: auto;
  margin-top: 0;
  text-align: center;
  text-transform: uppercase;
}


.aboutContainer_dark {
  background: #283449;
}

.aboutContainer_light {
  background: var(--secondary-light-background);
}

.aboutContainer>.svg {
  border: none;
  display: block;
}

.aboutContainer>img {
  display: block;
  border-radius: 100%;
  margin: 2rem auto;
  width: 220px;
  aspect-ratio: 0.89;
}

.aboutMe {
  text-align: center;
  font-size: 4rem;
  font-family: "Titillium Web";
  margin-bottom: 0;
}

.aboutMe_dark {
  color: #657ED4;
}

.aboutMe_light {
  color: #1C1C1C;
}

.aboutpara>p {
  font-size: 1.5rem;
  font-family: "Titillium Web";
  margin: 2rem;
  letter-spacing: 2px;
}

.aboutpara>p:last-child {
  margin-bottom: 3rem;
}

.aboutpara_dark>p {
  color: #ffffff;
}

.aboutpara_light>p {
  color: #3b82f6;
}

@media (min-width: 360px) and (max-width: 544px) {

  .aboutMe {
    text-align: center;
    font-size: 2.5rem;
    margin-top: 1.2rem;
  }

  .aboutContainer>img {
    display: block;
    border-radius: 100%;
    margin: 2rem auto;
    width: 160px;
    aspect-ratio: 0.89;
  }

  .aboutpara>p {
    font-size: 1.5rem;
    font-family: "Titillium Web";
    padding: 1rem;
    margin: 0rem;
    text-align: left;
  }

}

@media (min-width: 545px) and (max-width: 767px) {

  .aboutMe {
    font-size: 3rem;
    margin-top: 1.2rem;
  }

  .aboutContainer>img {
    display: block;
    border-radius: 100%;
    margin: 2rem auto;
    width: 170px;
    aspect-ratio: 0.89;

  }

  .aboutpara>p {
    font-size: 2rem;
    padding: 1rem;
    margin-top: 0;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {

  .aboutMe {
    font-size: 3rem;
    margin-top: 1.2rem;
  }

  .aboutContainer>img {
    display: block;
    border-radius: 100%;
    margin: 2rem auto;
    width: 180px;
    aspect-ratio: 0.89;

  }

  .aboutpara>p {
    font-size: 1.75rem;
    padding: 1rem;
    margin-top: 0;
    margin-bottom: 0;
  }

}