.parentContainer {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.parentContainer_dark {
  background: #202837;
}

.parentContainer_light {
  background: #ffffff;
}

.introBkgImg {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  width: 100%;
  object-fit: cover;
  -webkit-mask-image: linear-gradient(rgb(0 0 0 / 1), rgb(0 0 0 / 0.4), rgb(0 0 0 / 0));
  mask-image: linear-gradient(rgb(0 0 0 / 1), rgb(0 0 0 / 0.4), rgb(0 0 0 / 0));
}

.hello {
  margin: 0 auto;
  font-size: 4rem;
  font-family: "Titillium Web";
  line-height: 3rem;
  z-index: 999;
}

.hello_dark {
  color: #ffffff;
}

.hello_light {
  color: #fff;
}

.name {
  margin: 0 auto;
  font-size: 4.5rem;
  font-family: "Titillium Web";
  z-index: 999;
}

.name_dark {
  color: #33d69a;
}

.name_light {
  color: rgb(79 70 229);
}

.resume_btn {
  padding: 0.6rem 1rem;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  isolation: isolate;
  z-index: 999;
}

.resume_btn_dark {
  background: #33d69a;
}

.resume_btn_light {
  background: #3B82F6;
  color: #fff;
}

.resume_btn>a {
  color: #000;
}

.resume_btn>a,
.resume_btn>a:hover {
  font-size: 1.2rem;
  font-weight: 500;
  font-family: "Titillium Web";
  text-decoration: none;
  margin: 0 auto;
  padding: 0;
  text-decoration: none;
}

@media (min-width: 360px) and (max-width: 544px) {
  /* .hello and .name are inheriting font-size of 4 and 4.5rem resp */
  .introBkgImg {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    -webkit-mask-image: linear-gradient(rgb(0 0 0 / 1), rgb(0 0 0 / 0.4), rgb(0 0 0 / 0));
    mask-image: linear-gradient(rgb(0 0 0 / 1), rgb(0 0 0 / 0.4), rgb(0 0 0 / 0));
  }
  .resume_btn {
    padding: 0.6rem 1rem;
    font-size: 1.2rem;
  }
}

@media (min-width: 545px) and (max-width: 767px) {

  .hello {
    font-size: 4.5rem;
  }

  .name {
    font-size: 5rem;
  }

}

@media screen and (min-width: 768px) and (max-width: 1024px) {

  .introBkgImg {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  .hello {
    font-size: 5rem;
  }

  .name {
    font-size: 5.5rem;
  }

}